<div class="main-container">
<h1>Movies watch list </h1>
<h2>My lists</h2>
<%= link_to "New List", new_list_path %>

<% @lists.each do |list| %>
    <h2><%= list.name %></h2>
   <div class="card-link">
    <%= link_to "Show", list_path(list) %>
    <%= link_to "Delete", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </div>
  </div>
<% end %>

</div>
