<%= @list.name  %>
<% @list.bookmarks.each do |bookmark| %>
  <%= bookmark %>
<% end %>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
<p><%= link_to "See all lists", lists_path, class: "btn btn-flat" %></p>
