.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(105, 222, 137);
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: rgb(53, 118, 69);
  color: white;
}
